script(type='text/javascript', src='/vender/jquery/dist/jquery.js')
script(type='text/javascript', src='/vender/bootstrap/dist/js/bootstrap.js')
script(type='text/javascript', src='/vender/toastr/toastr.js')
script(type='text/javascript', src='/vender/angular/angular.js')
script(type='text/javascript', src='/vender/angular-resource/angular-resource.js')
script(type='text/javascript', src='/vender/angular-route/angular-route.js')
script(type='text/javascript', src='/app/app.js')
script(type='text/javascript', src='/app/main/mvMainCtrl.js')
script(type='text/javascript', src='/app/account/mvNavBarLoginCtrl.js')
script(type='text/javascript', src='/app/account/mvIdentity.js')
script(type='text/javascript', src='/app/account/mvAuth.js')
script(type='text/javascript', src='/app/account/mvUser.js')
script(type='text/javascript', src='/app/account/mvSignupCtrl.js')
script(type='text/javascript', src='/app/admin/mvUserListCtrl.js')
script(type='text/javascript', src='/app/common/mvNotifier.js')